body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

    h1{ 
        font-size: 50px;

    }
    h3{
        font-size: 30px;
        color: darkorchid;
    }
    #very{
        color: orange;
    }
    #you{
        color: darkblue;
    }
    
    .one{
        width: 40%;
        float: left;
        margin-left: 2%;
        padding-left: 5%;
    }
    .one img{
        width: 100%;
    }
    .top-benner{
        background-image: url(picture/top-banner.png);
        background-repeat: no-repeat;
    }
    section{
        height: 550px;
        padding-bottom: 150px;
    }
    .nice-button{
        text-decoration: none;
        background-image: linear-gradient(45deg,rgb(165, 54, 54),tomato);
        padding: 2px 4px;
        font-weight: 700;
        color: white;
        border-radius: 5px;
    }
    .four{
        color:darkgray ;
        
    }
    .bgp{
        background-image: url(picture/dream-bg.png);
        background-repeat: no-repeat;
        background-position: right;
    }
    .orange{
        color: orange;
    }
    .two{
            width: 40%;
            float: left;
            margin-left: 5%;
            padding: 2%;
           box-shadow:10px 8px 45px gray;
           border-radius: 5px;
           height: 70%;
           background-color: white;
        }
        .white{
            color: darkgray;
        }
        .bgp2{
           background-image: url(picture/exp-bg.png);
        background-repeat: no-repeat;
        background-position: left;
        
        }
        #border{
            border-left: 7px solid;
            border-image: linear-gradient(180deg, lightSalmon,tomato);
            border-image-slice:1 ;
        }
        #border2{
            border-left: 7px solid;
            border-image: linear-gradient(180deg,blue,cyan);
            border-image-slice: 1;
        }
        footer{
            text-align: center;
        }
    